* {
  box-sizing: border-box;
  user-select: none;
}

html, body {
  /*------for android-----*/
  overscroll-behavior: none;
  /*----------------------*/
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  position: relative;
  height: 494px;
  width: 454px;
  color: white;
  box-shadow: 1px 1px 3px #ccc, -1px -1px 2px #aaa;
  border-radius: 5px;
  padding: 2px;
}

#game-container[winner=yes]::after {
  position: absolute;
  content: "Congratulations";
  width: 100%;
  height: 100%;
  background-color: rgba(0.5, 0.5, 0.5, 0.5);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 30px monospace;
}

/* make both canvas elements stack on each other */
#game-container canvas {
  border: 2px solid green;
  position: absolute;
  width: 450px;
  top: 42px;
  border-radius: 0 0 4px 4px;
}

#game-top-bar {
  border-bottom: 3px double green;
  background-color: lightgreen;
  height: 40px;
}

#game-statistics {
  font: 16px Comic Sans MS;
  height: 100%;
  border-radius: 4px 4px 0 0;
}

#game-buttons {
  text-shadow: 2px 2px 2px red;
  font-weight: bold;
  width: 35%;
  height: 100%;
  justify-content: space-evenly;
  float: left;
  position: relative;
}

#game-buttons button {
  font: bold 14px monospace;
  padding: 4px 6px;
  border-radius: 10px;
  background: transparent;
  color: green;
  border: 2px solid green;
}

#game-buttons button:hover, #game-menu li:hover {
  color: yellow;
  border-color: yellow;
  cursor: pointer;
}

#game-buttons button[disabled] {
  color: #ccc;
  border-color: #ccc;
}

#game-menu {
  list-style-type: none;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 2;
  transition: all 1s;
  height: 100px;
  overflow: hidden;
  padding: 0;
}

#game-menu.hidden {
  height: 0;
}

#game-menu li {
  padding: 10px;
  background-color: lightgreen;
  border: 1px solid green;
  border-radius: 10px;
  text-align: center;
  font: bold 16px monospace;
}

#game-players {
  width: 100%;
  height: calc(100% - 40px);
  background-color: rgba(0.5, 0.5, 0.5, 0.5);
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  padding-top: 25%;
}

#game-players.hidden {
  display: none;
}

#game-players img {
  width: 20%;
}

#game-players img:hover {
  transform: scale(1.2);
  cursor: pointer;
}